<div class="flex flex-col grow">

  <div *ngIf="role.isAdmin$ | async" class="flex flex-row justify-end center-items sticky z-10">
    <div class="flex flex-row gap-4 pb-4 absolute bg-white p-4 opacity-50 hover:opacity-100">
      <button *ngIf="!editMode()" mat-raised-button color="primary" (click)="editMode.set(true)">Edit</button>
      <button *ngIf="editMode()" mat-button color="warn" (click)="editMode.set(false)">Cancel</button>
      <file-storage-button *ngIf="editMode()"></file-storage-button>
      <button mat-button color="primary" (click)="save()">Save</button>
    </div>
  </div>

  <span *ngIf="!editMode()"  [innerHtml]="text | markdown"></span>

  <mat-form-field *ngIf="editMode()">
    <textarea matInput
      [(ngModel)]="text"
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="5"
      cdkAutosizeMaxRows="25">
    </textarea>
  </mat-form-field>

</div>
