<div id="register" class="flex justify-center">

    <mat-card style="width: 300px;">
        <mat-card-content>
    
            <mat-card-title class="pb-3">Register</mat-card-title>

            <form>
                <div class="flex flex-col">
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="Email" [(ngModel)]="user.email" name="'email'">
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <input matInput type="password" placeholder="Password" [(ngModel)]="user.password" name="'password'">
                    </mat-form-field>
                </div>

                <mat-card-actions align="end">
                    <button color="primary" (click)="register()" mat-button>Register</button>
                </mat-card-actions>
            </form>

            <mat-card-footer>
                <span class="mat-small">click <span class="span-button" (click)="login()">here</span> if you need to login.</span>
            </mat-card-footer>

        </mat-card-content>
    </mat-card>

</div>