<!-- <mat-card>
    <input placeholder="Enter Title" [(ngModel)]="blockGroup.title" tabindex="1">
    <ng-container *ngFor="let block of blockGroup.blocks; let index = index;" >
        <be-textarea-block (updateChange)="onUpdateChange($event)" (removeChange)="onRemoveChange($event)" [block]="block"></be-textarea-block>
        <add-block (addBlockChange)="onAddChange($event)" [index]="index"></add-block>
    </ng-container>
    <add-block *ngIf="!blockGroup.blocks.length" (addBlockChange)="onAddChange($event)" [index]="0"></add-block>
</mat-card> -->