<div class="h-full flex flex-row justify-center items-center" *ngIf="active.slide$ | async as slide; else noSlide">
  <div [ngClass]="{ 'bg-white': !active.background(), 'bg-black': active.background()}" makeSquare>
    <div class="flex relative flex-row justify-center items-center h-full">
      <ng-container [ngSwitch]="slide.type">
        <ng-container *ngSwitchCase="'HYMN'">
          
          <ng-container *ngIf="slide.data; else noHymn">
            <hymn-verse
              [verse]="hymn.verse$ | async"
              [refrain]="hymn.refrain$ | async"
              [hymn]="hymn.hymn$ | async"
              [order]="hymn.order$ | async">
            </hymn-verse>
          </ng-container>
          
          <ng-template #noHymn>
            Select a Hymn
          </ng-template>

        </ng-container>
        <ng-container *ngSwitchCase="'TEXT'">
          TEXT
        </ng-container>
        <ng-container *ngSwitchCase="'IMAGE'">
          <img [src]="slide.data?.url" alt="Image alt text">
        </ng-container>
        <ng-container *ngSwitchCase="'EMPTY'">
          EMPTY
        </ng-container>
      </ng-container>
    </div>
    
  </div>
</div>

<ng-template #noSlide>
  Select a service!
</ng-template>
