@if (project$ | async; as project) {

  <div class="flex flex-col
              bg-slate-100
              sm:bg-slate-200
              md:bg-slate-300
              lg:bg-slate-400
              xl:bg-slate-500
              h-full
              max-w-screen-xl
              mx-auto">

    <div class="flex flex-col sticky top-0 bg-white z-30 p-4 mat-elevation-z2">

      <div class="flex flex-row justify-between center-items">

        <div [innerHTML]="project.name | markdown | async"></div>

        <button color="primary" (click)="goHome()"  mat-button>Home</button>

      </div>

      <text-area-editor *ngIf="showSummary()" class="w-full" [text]="project.description" (textChange)="save($event)"/>

      <project-stepper [steps]="project.pages" (stepChange)="onStepChange($event)"/>

    </div>

    <div class="bg-slate-100">

      <project-viewer [projectPage]="projectPage$ | async"/>

    </div>

  </div>

} @else {
  no project details
}