<div class="stepper-bar flex flex-row justify-around items-center bg-red-500 mb-4 mt-4">

  <div *ngFor="let step of steps | orderBy; let i = index" class="step-section flex grow h-full">

    <div
      [class.bg-slate-500]="selectedIndex$.value >= i - 0.1"
      class="left-of-step flex bg-slate-200 grow"></div>

    <div class="step-holder flex">
      <div
        class="step bg-slate-300 hover:bg-slate-400 cursor-pointer rounded-full scale-125"
        [class.bg-slate-700]="selectedIndex$.value >= i"
        (click)="selectStepByIndex(i)">
      </div>
    </div>

    <div
      [class.bg-slate-500]="selectedIndex$.value >= i + 0.1 || selectedIndex$.value === steps.length - 1 "
      class="right-of-step flex bg-slate-200 grow"></div>

  </div>

  </div>

