<!-- <h1 class="text-4xl font-normal">The Life Game</h1>

<h2 class="text-2xl font-medium">What is it?</h2>

<p>The life game is an interactive education game that allows students to take on different adult roles and manage money.</p>

<h3 class="text-lg font-bold">MVP</h3>

<p>Simply recreate what my wife has in her powerpoint.</p>

<h3 class="text-lg font-bold">Bigger Goals</h3>

<ul class="list-disc ml-6">
  <li>
    <p>Every group of students creates a session</p>
  </li>
  <li>
    <p>In a session kids can interact with eachother</p>
  </li>
</ul> -->

<router-outlet></router-outlet> 