<common-fab-button
  [text]="'Add Service'"
  (buttonChange)="newSlides()">
</common-fab-button>

<div class="slides-list shadow-sm overflow-hidden py-2 mat-elevation-z3">

  <div class="mb-2">
    <!-- <opc-service-new></opc-service-new> -->
  </div>

  <table class="border-collapse table-fixed w-full text-sm " cdk-table recycleRows [dataSource]="churchSlides.list$">
    <!-- Position Column -->
    <ng-container cdkColumnDef="title">
      <th class="border-b font-medium p-4 pt-0 pb-3 text-slate-950 text-left" cdk-header-cell *cdkHeaderCellDef> Title </th>
      <td class="border-b border-slate-100 p-4 pl-4" cdk-cell *cdkCellDef="let service"> <a class="text-sky-400" [routerLink]="['./edit/'+service.id]">{{ service.title }}</a></td>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="date">
      <th class="border-b font-medium p-4 pt-0 pb-3 text-slate-950 text-left" cdk-header-cell *cdkHeaderCellDef> Date </th>
      <td class="border-b border-slate-100 p-4 pl-4 text-slate-500" cdk-cell *cdkCellDef="let service"> {{ service.date.seconds * 1000 | date }} </td>
    </ng-container>

    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>