<div class="flex flex-col">
  <div class="flex flex-row">
    <p *ngIf="showLabels" class="basis-1/2 font-bold text-lg">Name</p>
    <p class="text-lg">{{ part.name }}</p>
  </div>
  <div class="flex flex-row">
    <p *ngIf="showLabels" class="basis-1/2 font-bold text-lg">Description</p>
    <p class="text-lg">{{ part.description }}</p>
  </div>
  <div class="flex flex-row">
    <p *ngIf="showLabels" class="basis-1/2 font-bold text-lg">Generators</p>
    <p class="text-lg">{{ part.generatorIds }}</p>
  </div>
  <div class="flex flex-row">
    <p *ngIf="showLabels" class="basis-1/2 font-bold text-lg">Relations</p>
    <p class="text-lg">{{ part.relations }}</p>
  </div>
  <div class="flex flex-row">
    <p *ngIf="showLabels" class="basis-1/2 font-bold text-lg">Categories</p>
    <p class="text-lg">{{ part.categories }}</p>
  </div>
  <div class="flex flex-row">
    <p *ngIf="showLabels" class="basis-1/2 font-bold text-lg">Title Only</p>
    <p class="text-lg">{{ part.titleOnly }}</p>
  </div>
</div>

