<mat-card class="mt-5 pb-0">

  <div class="flex flex-row p-5">
    <span class="flex-1"></span>
    <button mat-raised-button color="primary" (click)="newPart()">New</button>
  </div>
  <mat-divider/>

  <div class="p-5">

    <table class="w-full" cdk-table [dataSource]="dataSource">
    
      <ng-container cdkColumnDef="name">
        <th class="text-left" cdk-header-cell cdk-sort-header *cdkHeaderCellDef>Name</th>
        <td class="text-left text-sky-500 font-medium underline" cdk-cell *cdkCellDef="let data">
          <a [routerLink]="['./'+data.id]">{{ data.name }}</a>
        </td>
      </ng-container>
    
      <ng-container cdkColumnDef="description">
        <th class="text-left" cdk-header-cell cdk-sort-header *cdkHeaderCellDef>Description
        <th>
        <td cdk-cell *cdkCellDef="let data">{{ data.description }}</td>
      </ng-container>
    
      <ng-container cdkColumnDef="created">
        <th class="text-center" cdk-header-cell cdk-sort-header *cdkHeaderCellDef>Created
        <th>
        <td class="text-center" cdk-cell *cdkCellDef="let data">{{ data.created.toDate() | date: 'shortDate' }}</td>
      </ng-container>
    
      <ng-container cdkColumnDef="updated">
        <th class="text-center" cdk-header-cell cdk-sort-header *cdkHeaderCellDef>Updated
        <th>
        <td class="text-center" cdk-cell *cdkCellDef="let data">{{ data.updated?.toDate() | date: 'shortDate' }}</td>
      </ng-container>
    
      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
    
    </table>
    
    <mat-paginator [hidePageSize]="true" [pageSize]="10" [length]="dataSource.count$ | async"
      (page)="onPageChange($event)"></mat-paginator>

  </div>

</mat-card>