
@if (order == 1) {
  <div class="relative">
    <span class="number absolute font-bold text-slate-500">{{ hymn?.number }}</span>
    <h1 class="title font-bold text-slate-900">{{ hymn?.title }}</h1>
  </div>
}


<div class="relative">

  @if (order) {
    <span class="order font-bold absolute text-slate-500">{{ order }}</span>
  }
  
  @for (line of verse; track line) {
    @if (line == '[Refrain]') {

      <div class="refrain border-l-8 border-slate-400 pl-4">        
        
        @for (line of refrain; track line) {
          <p class="refrain-line" [innerHTML]="line | newLine: 40"></p>
        }

      </div>
      
    } @else {
      <p class="verse-line" [innerHtml]="line | newLine : 38"></p>
    }
  }

</div>