<div id="church-slide-sync" class="flex flex-row full-height w-full">
  <div [hidden]="controls.fullscreen()" class="basis-full sm:basis-8/12 md:basis-6/12 lg:basis-4/12 xl:basis-3/12 overflow-y-auto overflow-hidden border-r-2 border-gray-200">
    <router-outlet/>
    <app-church-mobile-controls/>
  </div>
  <div [ngClass]="active.bgColor()" class="bg-black flex-1 hidden md:block p-10">

    @if (viewMode()) {
      <church-slideshow-view/>
    } @else {
      <church-slideshow-view/>
    }

  </div>
</div>