<div class="p-4">

  <div class="text-xl pb-4" mat-dialog-title>
    Select Hymn
  </div>

  <div mat-dialog-content>

    <form class="flex flex-row justify-between items-center" [formGroup]="hymnForm">
      <mat-form-field class="pr-4" appearance="fill">
        <mat-label> Hymn </mat-label>
        <input type="number" matInput formControlName="number" placeholder="Hymn Number">
      </mat-form-field>
      <button class="mb-5" [disabled]="hymnForm.pristine" mat-mini-fab color="primary" (click)="selectHymn()">
        <mat-icon>add</mat-icon>
      </button>
    </form>
  </div>

  @if (selectedHymn$ | async; as hymn) {
    <h1 class="text-3xl text-bold">{{ hymn.title }}</h1>
  } @else {
    <p>No Hymn Selected</p>
  }

  <div class="mt-4 flex flex-row justify-between" mat-dialog-actions>
    <button mat-button (click)="dialogRef.close(false)">Cancel</button>
    <button mat-raised-button [disabled]="!(selectedHymn$ | async)" color="primary" (click)="select()">Select</button>
  </div>
</div>
