<mat-dialog-content>

  <mat-tab-group [selectedIndex]="currentTabIndex()" (selectedIndexChange)="currentTabIndex.set($event)">
    <mat-tab label="Select Hymn">
      <div mat-dialog-content>
        <form class="flex flex-row justify-between items-center w-full" [formGroup]="hymnForm">
          <mat-form-field appearance="fill" class="w-full">
            <input type="number" matInput formControlName="number" placeholder="Enter Hymn Number">
          </mat-form-field>
        </form>

        @if (loading()) {

          <div class="flex justify-center">
            <mat-spinner></mat-spinner>
          </div>

        } @else {

          @if (selectedHymn(); as hymn) {
            <div class="flex flex-col">
              <h1 class="text-3xl text-bold text-center mb-7">{{ hymn.title }}</h1>
              
                <div class="flex flex-row justify-center">
                  @if (!hasLyrics()) {
                    <div class="flex flex-col justify-center items-center">
                      <p class="text-red-500 text-black mb-7">NO LYRICS!</p>
                      
                      <button mat-raised-button (click)="customLyrics()" color="primary">Create Lyrics</button>
                      
                    </div>
                  }
                </div>
            </div>
          }
        }
      </div>
    
      <mat-dialog-actions>
        <div class="flex flex-row justify-between w-full">
          <button mat-button (click)="dialogRef.close(false)">Cancel</button>
          <button mat-raised-button [disabled]="!selectedHymn()" color="primary" (click)="this.dialogRef.close(this.selectedHymn())">Select</button>
        </div>
      </mat-dialog-actions>
    </mat-tab>
    <mat-tab label="Custom Hymn">

      <div class="p-2 pt-4">

      <mat-accordion>
        <mat-expansion-panel [expanded]="expanded()" (expandedChange)="expanded.set($event)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Hymn Info
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <form [formGroup]="lyricsInfoForm">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Title</mat-label>
              <input matInput formControlName="title" placeholder="It Is Well with My Soul">
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Hymn Number</mat-label>
              <input matInput formControlName="number" placeholder="691" type="number">
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Publication Year</mat-label>
              <input matInput formControlName="publication" placeholder="1990">
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Song Tune</mat-label>
              <input matInput formControlName="tune" placeholder="Ville du Havre">
            </mat-form-field>
          </form>

        </mat-expansion-panel>
      </mat-accordion>

      <div class="py-4">
        <p>Use the word <span class="font-bold">[Refrain]</span> in a line to add a refrain to the end (or beginning) of the verse</p>
      </div>

      <div class="flex flex-row justify-end items-center mt-4 gap-x-4">
        <button mat-button (click)="setRefrain()" color="primary">Set Refrain</button>
        <button mat-raised-button (click)="addVerse()" color="primary">
          <mat-icon>add</mat-icon>
          Verse
        </button>
      </div>

      <form [formGroup]="lyricsForm">

        @for (section of lyricsForm.controls | keyvalue; track $index) { 
          <div [formArrayName]="section.key">
            <div class="flex flex-row justify-start items-center">
              <h3 class="text-xl font-bold mb-2">Verse {{ $index + 1 }}</h3>
              <button class="mb-3 ml-2" mat-mini-fab color="warn" (click)="removeVerse(section.key)">
                <mat-icon>remove</mat-icon>
              </button>
            </div>
            @for (item of section.value.controls; track $index) {
              <div class="flex flex-row justify-between items-center">
                <mat-form-field appearance="fill" class="w-full mr-4">
                  <mat-label>Line {{ $index + 1 }}</mat-label>
                  <input type="text" matInput [formControlName]="$index">
                </mat-form-field>
                <button class="mb-4" color="warn" mat-mini-fab (click)="removeLine(section.key, $index)">
                  <mat-icon>remove</mat-icon>
                </button>
              </div>
            }
            <common-fab-button [text]="'Add Line'" (buttonChange)="addLine(section.key)"/>
          </div>
        }

        <div class="flex flex-row justify-end items-center mt-4 gap-x-4 font-black">
          Add Verse
          <button mat-fab color="primary" (click)="addVerse()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        
      </form>

      <mat-dialog-actions>
        <div class="flex flex-row justify-between w-full mt-4 sticky bottom-0">
          <button mat-button (click)="dialogRef.close(false)">Cancel</button>
          <button mat-raised-button [disabled]="!lyricsInfoForm.valid" color="primary" (click)="this.dialogRef.close(this.selectedHymn())">Create</button>
        </div>
      </mat-dialog-actions>

    </div>

    </mat-tab>  
  </mat-tab-group>

</mat-dialog-content>
