<div fxLayout="row" fxLayoutAlign="space-between center">

    <textarea [hidden]="!edit" #textArea (blur)="onLeave(textArea)" cdkTextareaAutosize class="text-note" [formControl]="control" placeholder="Click to add text" (keydown.tab)="tabbed();false"></textarea>

    <div fxFlex class="display" (click)="onEnter(textArea)" fxLayout="row" fxLayoutAlign="space-between start">
        <div class="markdown" *ngIf="!edit" #mark markdown ngPreserveWhitespaces>{{ control.value }}</div>
    </div>

    <mat-icon fxFlex="5" fxFlex.xs="10" class="trash" style="text-align: right;" (click)="remove()" color="warn">delete</mat-icon>
    
</div>
