<div id="{{id()}}" class="flex flex-row justify-between justify-items-center bg-slate-400 w-full">

    <textarea 
        class="block-input bg-red-500"
        [hidden]="!edit()" 
        #textArea 
        cdkTextareaAutosize
        (blur)="onLeave(textArea)" 
        [formControl]="control" 
        placeholder="Click to add text">
    </textarea>

    <div #display class="flex-1" (click)="onEnter(textArea)">
        @if(!edit()) {
            <span class="block markdown bg-blue-500" ngPreserveWhitespaces>{{ control.value }}</span>
        }
    </div>

    <mat-icon (click)="removeChange.emit(block)" color="warn">delete</mat-icon>
    
</div>
