.trash {
    margin-top: 10px;
}

.block {
    line-height: 1.5em;
    width: 100%;
    outline: 1px solid transparent;
    overflow-wrap: break-spaces;
    overflow: hidden;
    vertical-align: top;
    margin-top: -1px;
    background-color: transparent;
    padding-top: 4px;
    padding-bottom: 4px;
    letter-spacing: inherit;
    border: none;
    resize: none;
}

.block-input {
    // line-height: 1.5em;
    width: 100%;
    outline: 1px solid transparent;
    overflow-wrap: break-spaces;
    overflow: hidden;
    vertical-align: top;
    margin-top: -1px;
    background-color: transparent;
    padding-top: 4px;
    padding-bottom: 4px;
    // letter-spacing: inherit;
    border: none;
    resize: none;
}