<mat-form-field appearance="fill" style="width: 100%;">
  <mat-label>Generator</mat-label>
  <mat-select placeholder="Generator" [ngModel]="generatorIds[0]" (ngModelChange)="addId($event)">
    @for (system of systemsList$ | async; track system.id) {
      <mat-option [value]="system.id">
        {{ system.name }}
      </mat-option>
    }
  </mat-select>
</mat-form-field>

<div class="current-ids">
  @for (item of namedIds$ | async; track item.id;) {
    <div class="generator-id flex flex-row place-content-between pb-1" [ngClass]="{ 'noPB': $last }">
      <span>{{ item.name }}</span>
      <button color="primary" mat-mini-fab (click)="removeId(item.id)">
        <mat-icon color="warn">remove</mat-icon>
      </button>
    </div>
  }
</div>