@if (active.system$ | async; as system) {
  <div class="flex flex-col gap-2">

    <mat-card class="mt-5">

      <mat-tab-group>

        <mat-tab label="System">
          <div class="m-5">
            <div class="flex flex-row place-content-between">
              <div class="info mb-5">
                <h1 class="text-3xl font-bold">{{ system.name }}</h1>
                <p class="prose">{{ system.description }}</p>
              </div>
              <button mat-icon-button (click)="active.edit()">
                <mat-icon color="primary">edit</mat-icon>
              </button>
            </div>
            
            <div class="layout-row end p-1">
              <common-fab-button [disabled]="showEditor" [color]="'primary'" [text]="'Add Part'" (buttonChange)="createPart(system)"/>
            </div>
          </div>

        </mat-tab>

        <mat-tab label="Categories">
          <pattern-category-select></pattern-category-select>
        </mat-tab>

      </mat-tab-group>
  
    </mat-card>
  
    <div class="">
      <mat-card cdkDropList (cdkDropListDropped)="drop($event)">

        @for (part of system.parts; track part.id) {
          <patterns-part-view cdkDrag [part]="part" [isLast]="$last" [index]="$index"/>
        }
        
      </mat-card>
    </div>
  
    <div class="flex-33">
      pull in list of stuff that uses this pattern system
    </div>
  </div>
}

