<div class="flex flex-row justify-end items-center">
  <mat-form-field appearance="fill" class="flex grow">
    <mat-label>{{ label }}</mat-label>
    <mat-select (selectionChange)="selectChange($event)">
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button *ngIf="showFab" class="mb-5 pl-4" [disabled]="!selected()" mat-mini-fab color="primary" (click)="addOptionChange.emit(selected())">
      <mat-icon>add</mat-icon>
  </button>
</div>