<div class="sticky top-0 bg-white z-10 shadow-md pl-2 shadow-lg">
  <div class="flex flex-col justify-between p-4">
    <div class="flex flex-row justify-between pb-3">
      <button mat-raised-button color="secondary" (click)="goBack()">Return</button>
      <div class="flex flex-row items-center gap-x-3">
        <div class="lg:hidden">
          <mat-slide-toggle (toggleChange)="toggleControls()">Controls</mat-slide-toggle>
        </div>
        <button class="my-1" mat-raised-button [color]="'primary'" (click)="edit()">
          Edit
        </button>
      </div>
    </div>
    <div class="flex flex-row gap-x-3 items-center my-3">
      <h1 class="text-xl font-bold tracking-wider text-black sm:text-2xl uppercase">{{ active.title$ | async }}</h1>
      @if (editMode()) {
        <button (click)="editSlideshow()" mat-mini-fab color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="deleteSlideshow()" mat-mini-fab color="warn">
          <mat-icon>remove</mat-icon>
        </button>
      }
    </div>
  </div>

  <div class="pr-4">
    <common-select [options]="slideOptions" (addOptionChange)="onAddOptionChange($event)"/>
  </div>
</div>

<div class="slide-list" cdkDropList (cdkDropListDropped)="move($event)">
  
  @for (slide of active.slides$ | async; track $index) {
    <div class="slide-item flex flex-row justify-between items-center" [ngClass]="$index == (active.slideshow$ | async)?.activeSlide ? 'bg-blue-200' : 'bg-white'" cdkDrag>

      <div class="drag-handle cursor-move flex flex-row px-2" cdkDragHandle>
        <div class="drag-line"></div>
        <div class="drag-line"></div>
        <div class="drag-line"></div>
      </div>

      <church-slide-type-edit class="flex-grow" [slide]="slide" [order]="$index" [editMode]="editMode()"/>
    </div>
  }
  
</div>