<div class="sticky top-0 bg-white z-10 shadow-md pl-2 shadow-lg">
  <div class="flex flex-col justify-between p-4">
    <div class="flex flex-row justify-between pb-3">
      <button mat-raised-button color="secondary" (click)="goBack()">Return</button>
      <button class="my-1" mat-button [color]="'warn'" (click)="edit()">
        <mat-icon>remove</mat-icon>
        Edit
      </button>
    </div>
    <div class="flex flex-row gap-x-3 items-center my-3">
      <h1 class="text-xl font-bold tracking-wider text-black sm:text-2xl uppercase">{{ active.title$ | async }}</h1>
      @if (editMode()) {
        <button (click)="editSlideshow()" mat-mini-fab color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="deleteSlideshow()" mat-mini-fab color="warn">
          <mat-icon>remove</mat-icon>
        </button>
      }
    </div>
  </div>

  <div class="pr-4">
    <common-select [options]="slideOptions" (addOptionChange)="onAddOptionChange($event)"/>
  </div>
</div>

<div class="slide-list" cdkDropList (cdkDropListDropped)="move($event)">
  
  @for (slide of active.slides$ | async; track $index) {
    <div class="bg-white" cdkDrag>
      <church-slide-type-edit [slide]="slide" [order]="$index" [editMode]="editMode()"/>
    </div>
  }
  
</div>