<div class="border-b py-4 flex flex-row items-center">

  <div class="drag-handle cursor-move flex flex-row" >
    <div class="drag-line"></div>
    <div class="drag-line"></div>
    <div class="drag-line"></div>
  </div>

  <ng-container [ngSwitch]="slide.type">
    <!-- HYMN -->
    <ng-container *ngSwitchCase="'HYMN'">
      <ng-container *ngIf="slide.data; else noHymn">
        <div class="flex flex-row grow justify-start items-center mr-4">
          <span class="basis-1/6 text-3xl pr-4">{{ slide.data.number }}</span>
          <span class="basis-5/6 text-base text-slate-600 pr-2">{{ slide.data.title }}</span>
          <div class="flex flex-row gap-x-2">
            <button (click)="editHymn()" mat-mini-fab color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="removeHymn()" mat-mini-fab color="warn">
              <mat-icon>remove</mat-icon>
            </button>
          </div>
        </div>
      </ng-container>
      <ng-template #noHymn>
        Select a Hymn
      </ng-template>
    </ng-container>

    <ng-container *ngSwitchCase="'TEXT'">Text</ng-container>

    <ng-container *ngSwitchCase="'IMAGE'">
      <div class="flex flex-row grow justify-between items-center mr-4">
        
        <div class="h-14 flex grow items-stretch mr-4">
          <img *ngIf="slide.data?.url else upload" class="h-14 grow object-cover" [src]="slide.data?.url" alt="Image alt text">
          <ng-template #upload>
            Upload an Image
          </ng-template>
        </div>

        <div class="flex flex-row gap-x-2">
          <button (click)="uploadImage()" mat-mini-fab color="primary">
            <mat-icon>upload</mat-icon>
          </button>
          <button (click)="removeImage()" mat-mini-fab color="warn">
            <mat-icon>remove</mat-icon>
          </button>
        </div>

      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'EMPTY'">
      <div class="flex flex-row grow justify-between items-center mr-4">
        <div class="bg-black h-14 flex grow items-stretch mr-4"></div>
        <div class="flex flex-row gap-x-2">
            <button (click)="editColor()" mat-mini-fab color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="removeColor()" mat-mini-fab color="warn">
              <mat-icon>remove</mat-icon>
            </button>
          </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchDefault>Default</ng-container>
  </ng-container>

</div>
