<div class="border-b py-4 flex flex-row items-center">

  <div class="drag-handle cursor-move flex flex-row pl-2">
    <div class="drag-line"></div>
    <div class="drag-line"></div>
    <div class="drag-line"></div>
  </div>

  @switch (slide.type) {
    
    @case ('HYMN') {
      @if (slide.data) {
        <div class="flex flex-row grow justify-start items-center mr-4">
          <span class="basis-1/6 text-3xl pr-4">{{ slide.data.number }}</span>
          <span class="basis-5/6 text-base text-slate-600 pr-2">🎵 {{ slide.data.title }}</span>
        </div>
      } @else {
        <div class="flex flex-row grow mr-4">
          Select a Hymn
        </div>
      }

      <div class="flex flex-row gap-x-2 mr-4">
        <button (click)="editHymn()" mat-mini-fab color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        @if (editMode) {
          <button (click)="removeSlide()" mat-mini-fab color="warn">
            <mat-icon>remove</mat-icon>
          </button>
        }
      </div>
    }

    @case ('TEXT') {
      <p>TEXT</p>
    }

    @case ('IMAGE') {

      <div class="flex flex-row grow justify-between items-center mr-4">
        <div class="h-14 flex grow items-stretch mr-4">
          @if (slide.data?.url) {
            <img class="h-14 grow object-cover" [src]="slide.data?.url" alt="Image alt text">
          } @else {
            <p>Upload an image...</p>
          }
        </div>

        <div class="flex flex-row gap-x-4">
          <button (click)="uploadFromGallery()" mat-mini-fab color="primary">
            <mat-icon>photo_library</mat-icon>
          </button>
          <button (click)="uploadImage()" mat-mini-fab color="primary">
            <mat-icon>upload</mat-icon>
          </button>
          @if (editMode) {
            <button (click)="removeSlide()" mat-mini-fab color="warn">
              <mat-icon>remove</mat-icon>
            </button>
          }
        </div>
      </div>

    }

    @case ('EMPTY') {
      <div class="flex flex-row grow justify-between items-center mr-4">
        <div [ngClass]="slide.data?.bgColor ? slide.data?.bgColor : 'bg-black'" class="h-14 flex grow items-stretch"></div>
        <div class="flex flex-row gap-x-2">
          <button class="ml-4" (click)="editColor()" mat-mini-fab color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          @if (editMode) {
            <button (click)="removeSlide()" mat-mini-fab color="warn">
              <mat-icon>remove</mat-icon>
            </button>
          }
        </div>
      </div>
    }

    @default {
      <p>Nothing</p>
    }
  }

</div>
