<div class="flex flex-col sticky top-0 bg-white z-10 p-4 pb-8">

  <div class="flex flex-row justify-between center-items">

    <div class="text-3xl pb-4" mat-dialog-title>
      {{ data.project.name }}
    </div>

    <button mat-button color="warn" (click)="dialogRef.close(false)">CLOSE</button>

  </div>

  <p>{{ data.project.description }}</p>

  <project-stepper [steps]="data.project.pages" [activeStep]="data.page"/>

</div>

<div class="bg-green-200">

  <project-viewer [project]="data.project"/>

<!--  <project-stepper>
    <cdk-step *ngFor="let page of data.project.pages">

      <div class="flex flex-row gap-4 p-4 pt-0">
        <p class="">
        {{ page.text }}
        </p>
        <img src="{{ page.media[0] }}" alt="">
      </div>

    </cdk-step>
</project-stepper> -->

</div>
