@if (active.system(); as system) {

  <mat-card class="mt-5">

    <div class="p-5">
      <h1 class="text-2xl font-bold mb-2">{{ system.name }}</h1>
      <p>{{ system.description }}</p>
    </div>
  
    <mat-divider/>

    <div class="flex flex-row p-5">
      <div class="flex flex-col w-full">
        @for (part of system.parts; track $index) {
          <patterns-data-system-part class="w-full" [part]="part" />
        }
      </div>
    </div>

  </mat-card>

  <div class="p-5">
    @if (blockGroup) {
      <div class="flex flex-row items-center">
        <be-block-group class="flex-1 pr-5" [blockGroup]="blockGroup" (addChange)="onAddChange($event)"/>
        <common-fab-button [icon]="'air'" (buttonChange)="onGenerationChange()"></common-fab-button>
      </div>
    }
  </div>

}