.example-container {
  height: 100vh; 
}

.mat-drawer-container {
  background-color: rgba(0, 0, 0, 0);
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

:host {
  content {
    width: 100%;
  }
}