<div class="flex flex-col md:flex-row stretch  h-full max-w-screen-xl mx-auto">
  <div class="flex flex-col basis-1/3 md:basis-1/2 lg:basis-1/3 p-4">
    <h1 class="text-slate-300 font-bold text-4xl pb-2">
      Christopher Grimm
    </h1>
    <h3 class="text-slate-400 font-light text-2xl pb-2">
      Senior Angular Developer
    </h3>
    <p class="text-justify text-slate-100 font-light text-sm md:text-base pb-1">
    I have a decade of experience in website/app development, with a focus in the Angular ecosystem including Angular Material and Firebase services. I also have experience in popular frameworks such as React Vue and Laravel PHP. Prior, I had a significant amount of experience working with Wordpress creating custom themes including e-commerce. While at Jack in the Box Corporate, I completed several large projects as well as Instructional Design work. Post Covid, I have been expanding my skill set by taking on contract web work, while also gaining expertise in various forms of physical trades such as woodworking at Taylor Guitars, and working with CNC machines, sheet metal and welding at Trimas Aerospace.
    </p>
    <p class="text-slate-100">Please excuse the limited content as I'm just putting this website together (July 23), thanks.</p>
  </div>

  <project-grid class="flex flex-grow p-4" [projects]="projects$ | async"/>

</div>
