<div class="p-4">
  <h1 class="text-xl pb-4" mat-dialog-title>Image Gallery</h1>

  <div mat-dialog-content class="flex flex-row justify-center overflow-auto">

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
      @for (url of images(); track $index) {
        <div class="border-4 border-solid border-gray-200" 
          (click)="selectItem(url)" 
          [ngClass]="{'border-amber-600': selectedUrl() == url, 'border-gray-200' : selectedUrl() != url}">
          <img [src]="url" class="object-cover"/>
        </div>
      }
    </div>
      
  </div>

  <div class="mt-4 flex flex-row justify-between items-center">
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!selectedUrl()" (click)="dialogRef.close(selectedUrl())">Select & Upload</button>
  </div>
</div>
