<div class="pattern-part layout-row p-1">
  <div class="dragger">
    <span class="dragger-line"></span>
    <span class="dragger-line"></span>
    <span class="dragger-line"></span>
  </div>
  <div class="flex space-between-start">
    <div class="info">
      <h1>{{ part.name }}</h1>
      <p>{{ part.description }}</p>
    </div>
    <button mat-icon-button (click)="active.editPart(part, index)">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>
<mat-divider *ngIf="!isLast"></mat-divider>