<div class="p-4">
  <h1 class="text-xl pb-4" mat-dialog-title>New Service</h1>

  <div mat-dialog-content>
    <form class="flex flex-col" [formGroup]="newSlidesForm">

      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" placeholder="Sola Fide" [required]="true" >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput formControlName="date" [matDatepicker]="picker" [required]="true">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    </form>
  </div>

  <div class="mt-4 flex flex-row justify-between" mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button [disabled]="!newSlidesForm.valid" mat-raised-button color="primary" (click)="dialogRef.close(newSlidesForm.value)">Create</button>
  </div>
</div>