<mat-nav-list>
  <a href="" mat-list-item (click)="openLink($event)">
    <span matListItemTitle>Create Test Register</span>
    <span matLine>Search by Part Number</span>
  </a>

  <a href="" mat-list-item (click)="openLink($event)">
    <span matListItemTitle>Create by Material</span>
    <span matLine>Search by Material</span>
  </a>

  <a href="" mat-list-item (click)="openLink($event)">
    <span matListItemTitle>Create Test Report</span>
    <span matLine>Certified Test Report Document</span>
  </a>

</mat-nav-list>